.top-artists {
    width: 100%;
}

.header {

    position: fixed;
    top: 0;
    z-index: -1;

    height: 200px;
    width: 100%;

    background: url(../images/musician.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.list {    
    margin-top: 200px;
    background: white;
}

.list:before{

    content: 'YOUR TOP ARTISTS';

    position: relative;
    top: -2rem;
    left: 16px;
    
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;

    color: white;
}